# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/

# IDE / editor settings
.vscode/
.idea/
*.swp
.DS_Store

# Outputs folders
/results/

# Temporary or log files
*.log
*.tmp
*.bak

# System files
Thumbs.db
